.Converter-container {
  margin-top: 118px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.Converter__input {
  /* Rectangle 2 */
  width: 144;
  height: 52px;
  left: 0;
  top: 24px;
  box-sizing: border-box;
  /* Light/light 0 */
  border: 1px solid rgb(228, 228, 235);
  border-radius: 8px;

  /* Light/light 3 */
  background: rgb(250, 250, 252);
}

.Converter__input::placeholder {
  color: rgb(143, 144, 166);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 480px) {
  .Converter-container {
    flex-direction: column;
    align-items: center;
  }
}
